{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'ui/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'ui/css/bootstrap.vertical-tabs.css' %}">
	<link rel="stylesheet" href="{% static 'ui/css/jasny-bootstrap.min.css' %}">
	<style type="text/css">
		@media (max-width: 767px){
			.col-sm-3, .col-sm-9, .row .col-sm-9, .row .col-sm-3 {
			width: 100%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			}
		}	
	</style>

    <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,Safe">
</script>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
		  		<a class="navbar-brand btn" data-toggle="offcanvas" data-target="#coursesTree" data-canvas="body">
                    <span class="glyphicon glyphicon-menu-right" id="arrow_on_button"></span>
                    Courses
                </a>
			</div>
            <div class="container">
            <div>
                <form class="navbar-form navbar-left" >
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search" id="search_text">
                    </div>
                    <button type="submit" class="btn btn-default" id="search_button">Go</button>
                </form>
                <ul class="nav navbar-right">
                {% if user and user.is_authenticated %}
                    <li><a href="/ct/people/{{ user.pk }}/" target="{{ target }}">
                    {% if user.get_full_name %}
                        {{ user.get_full_name }}
                    {% else %}
                        {{ user.username }}
                    {% endif %}</a></li>
                {% else %}
                    <li><a href="/login/?next=/ui/hack/">Sign in</a></li>
                {% endif %}
                </ul>
            </div>
            </div>
        </div>
    </nav>
    <div id="coursesTree" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation" style="padding-top:5px; padding-left:5px; z-index:-1;">
	 <div class="row" >
        <div class="col-xs-12">
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="panel_for_tabs">
                <div class="btn-group btn-group-justified" role="group" aria-label="units">
				  <div class="btn-group" role="group" style="width:80%;">
				    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#unit1" aria-expanded="true" aria-controls="unit1">
						Unit name
					</button>
				  </div>
                </div>

                <div id="unit1" class="collapse in">
				  <div class="well">
            	<div class="btn-group btn-group-justified" role="group" aria-label="lessons">
				  <div class="btn-group" role="group" style="width:80%;">
				    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#lesson1" aria-expanded="true"   aria-controls="lesson1">
						Lessons
					</button>
				  </div>
				  <div class="btn-group" role="group" style="width:20%;">
				    <button type="button" class="btn btn-default" >
				    	<span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
				    </button>
				  </div>
				</div>	


				<div class="btn-group btn-group-justified" role="group" aria-label="concepts">
				  <div class="btn-group" role="group" style="width:80%;">
				    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#concept1" aria-expanded="true" aria-controls="concept1">
						Concepts
					</button>
				  </div>
				  <div class="btn-group" role="group" style="width:20%;">
				    <button type="button" class="btn btn-default" >
				    	<span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
				    </button>
				  </div>
				</div>	

             </div>
            </div>
          </div>
          </div>
        </div>

    </div>
  </div>
        <div  class="col-xs-2" style="margin-left: -53px; padding-right: 20px;">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs tabs-right sideways" id="courses_tabs">
          </ul>
        </div>
	    <div class="col-sm-8 content">
            <h1 id="title">A Brief Definition of Conceptual Understanding</h1>
            <p id="description">Let's define a concept as a concise statement of a principle that is always true, and that furnishes a reliable tool for solving a wide variety of problems.
                We can define conceptual understanding operationally, as the ability to use a concept correctly on a wide variety of problems. Concretely, given a concept statement, there are many different ways we could try to apply that statement even to a single problem -- some of which are right, and some which are invalid. To my mind, "conceptual understanding" means both knowing which ways are right vs. which ways are wrong, and also being able to explain why the right ways are right, and the wrong ways are wrong, from first principles.
                Without the latter component, students' knowledge is fragile: even slight errors (which are inevitable) will knock them off the track to a correct solution. By contrast, when they can reason from first principles, they will constantly catch their own errors and get back on track.</p>
            <p><b>Author </b><span id="author">The Teacher</span></p>
	    </div>
        <div class="col-sm-8 col-xs-offset-1 search_content" style="display: none;">
            <button class="btn btn-info pull-right" id="back_to_search"><span class="glyphicon glyphicon-arrow-left"></span> Back to search results</button>
            <h1 id="title_search"></h1>
            <p id="description_search"></p>
            <p><b>Author </b><span id="author_search">The Teacher</span></p>
        </div>
        <div class="col-sm-8 col-xs-offset-1 search" style="display: none;">
            <button type="button" class="btn btn-default btn-lg pull-right" id="close_search">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
            <table class="table" >
                <thead>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Author</th>
                </thead>
                <tbody id="search_table">
                </tbody>
            </table>
	    </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="{% static 'ui/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'ui/js/jasny-bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'ui/js/jQueryRotate.js' %}"></script>
  <script>
        function truncate(str, len){
          return (str.length > len) ? str.substr(0,len-3)+'&hellip;' : str;
        }

        function show_info(title, description, author){
            $('#title').empty().text(title);
            $('#description').empty().append(description);
            $('#author').empty().text(author);
            MathJax.Hub.Queue(["Typeset",MathJax.Hub,".content"]);
        }

        function show_search_info(title, description, author){
            $('#title_search').empty().text(title);
            $('#description_search').empty().append(description);
            $('#author_search').empty().text(author);
            MathJax.Hub.Queue(["Typeset",MathJax.Hub,".search_content"]);
        }

        function get_content_for_unit(unit_id, course_id){
           var url = '/ui/api/units/'+unit_id+'/content/';
           $('#panel_for_tabs').append('<div id="unit'+unit_id+'" class="collapse in unit"><div class="well"></div></div>');
           var tab_for_unit = $('#unit'+unit_id+' .well');
           $.get(url).done(function(content) {
               var lessons = content['lessons'];
               var concepts = content['concepts'];
               tab_for_unit.append('<div class="btn-group btn-group-justified" role="group" aria-label="lessons"><div class="btn-group" role="group" style="width:80%;"><button type="button" class="btn btn-default" data-toggle="collapse" data-target="#lessons'+unit_id+'" aria-expanded="true" aria-controls="lesson1">Lessons</button></div><div class="btn-group" role="group" style="width:20%;"> <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp; </button> </div> </div>');
               tab_for_unit.append('<div id="lessons'+unit_id+'" class="collapse in"><div class="well"><ul></ul></div></div>');
               var lessons_tab = $('#lessons'+unit_id+' .well ul');
               for (lesson in lessons){
                   var x = $('<li><a class="lesson" lesson_id="'+lessons[lesson]['id']+'" href="#" lesson_order="'+lessons[lesson]['order']+'">"'+lessons[lesson]['lesson_title']+'</a></li>');
                   lessons_tab.append(x);
                   $('.lesson').draggable({revert:true, axis: "y",
{#                       start:function(){$(this).closest('li').css('height','0%');}#}
                   });
                   $(x).droppable({
                        drop: function (event, ui) {
                            console.log('drop');
                            $('#blank_div').remove();
                            var a = $(this).find('a');
                            var ul_id = ui.draggable.attr('lesson_id');
                            var order = a.attr('lesson_order');
                            var url = '/ui/api/units/'+unit_id+'/content/';
                            $.ajax({
                                url: url,
                                type: 'PUT',
                                data:{'ul_id':ul_id, 'order':order} ,
                                success:function(result){
                                    get_units_for_course(course_id);
                                }
                            });},
                        over: function() {
                            $(this).find('a').before('<div style="height:0px;width:100%;" id="blank_div"></span></div>');
                            $('#blank_div').animate({'height':'+=35px'}, 500);
                        },
                        out: function() {
                            $('#blank_div').remove();
                         }
                   });

               }
               tab_for_unit.append('<div class="btn-group btn-group-justified" role="group" aria-label="concepts"><div class="btn-group" role="group" style="width:80%;"><button type="button" class="btn btn-default" data-toggle="collapse" data-target="#concepts'+unit_id+'" aria-expanded="true" aria-controls="lesson1">Concepts</button></div><div class="btn-group" role="group" style="width:20%;"> <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp; </button> </div> </div>');
               tab_for_unit.append('<div id="concepts'+unit_id+'" class="collapse in"><div class="well"><ul></ul></div></div>');
               var conceptss_tab = $('#concepts'+unit_id+' .well ul');
               for (concept in concepts){
                   conceptss_tab.append('<li><a class="concept" concept_id="'+concepts[concept]['ul_id']+'" href="#">'+concepts[concept]['title']+'</a></li>');
               }
           });
        }

        function get_units_for_course(course_id){
            var url = '/ui/api/courses/'+course_id+'/units/';
            $.get(url).done(function(units) {
                this.course_tab = $('#panel_for_tabs');
                this.course_tab.empty();
                for (unit_num in units) {
                    var unit = units[unit_num];
                    var unit_tab_html = '<div class="btn-group btn-group-justified" role="group" aria-label="units"><div class="btn-group" role="group" style="width:80%;"> <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#unit'+unit['unit_id']+'" aria-expanded="true" aria-controls="unit1">'+truncate(unit['unit_title'], 28)+'</button> </div> </div>';
                    this.course_tab.append(unit_tab_html);
                    get_content_for_unit(unit['unit_id'], course_id);
                }
            });

        }

        $(document).ready(function(){
            $.ajaxSetup({
               crossDomain: false,
               beforeSend: function(xhr, settings) {
                   var csrfSafeMethod = function(method) {
                       return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                   };
                   var csrftoken = getCookie('csrftoken');
                   if (!csrfSafeMethod(settings.type)) {
                      xhr.setRequestHeader('X-CSRFToken', csrftoken);
                   }
               }
            });
            $('.search').hide();
            $('.search_content').hide();
            var url = '/ui/api/courses/';
            $.get(url).done(function(courses) {
                this.courses_tabs = $('#courses_tabs');
                for (course_num in courses) {
                    var course = courses[course_num];
                    var course_tab_html = '<li><a href="#course_'+course['id']+'" data-toggle="tab" course-id="'+course['id']+'">'+course['title']+'</a></li>'
                    this.courses_tabs.append(course_tab_html);
                }
            });
        });
        $(document).on('shown.bs.offcanvas', '#coursesTree', function(){
            $('#arrow_on_button').rotate({
                  angle: 0,
                  animateTo:180,
                  duration:600
              });
        });
        $(document).on('hidden.bs.offcanvas', '#coursesTree', function(e){
            console.log(e);
            $('#arrow_on_button').rotate({
                  angle: 180,
                  animateTo:0,
                  duration:600
              });
        });
        $(document).on('shown.bs.tab', 'a[data-toggle="tab"]', function (course) {
                var course_id = $(course.target).attr('course-id');
                if (course_id) {
                    get_units_for_course(course_id);
                    var url = '/ui/api/course/'+course_id;
                    $.get(url, {'format': 'json'}).done(function (course) {
                        show_info(course['title'], course['description'], course['added_by']);
                    });
                }
        });

        $(document).on('click', '.lesson', function () {
            var unit_id = this.getAttribute('lesson_id');
            var url = '/ui/api/lesson/'+unit_id+'/';
            $.get(url).done(function (lesson) {
                $('.content').show();
                $('.search').hide();
                show_info(lesson['title'], lesson['text'], lesson['added_by']);
            });
            $('.search_content').hide();
            $('.search').hide();
            $('#search_text').val('');
            return false;
        });

        $(document).on('click', '.search_lesson', function () {
            var unit_id = this.getAttribute('lesson_id');
            var url = '/ui/api/lesson/'+unit_id+'/';
            $.get(url).done(function (lesson) {
                $('.content').hide();
                $('.search').hide();
                $('.search_content').show();
                show_search_info(lesson['title'], lesson['text'], lesson['added_by']);
            });
            return false;
        });
        
        $(document).on('click', '.concept', function () {
            var unit_id = this.getAttribute('concept_id');
            var url = '/ui/api/concept/'+unit_id+'/';
            $.get(url).done(function (concept) {
                $('.content').show();
                $('.search').hide();
                $('.search_content').hide();
                $('#search_text').val('');
                show_info(concept['title'], concept['text'], concept['added_by']);
            });
            return false;
        });

        $(document).on('click', '#search_button', function () {
            var text_to_search = $('#search_text').val();
            var url = '/ui/api/search/';
            $.get(url, {'text':text_to_search}).done(function (find_result) {
                $('.content').hide();
                $(".search_content").hide();
                $('.search').show();
                $('#search_table').empty();
                var table = $('#search_table');
                for (lesson in find_result) {
                    var this_lesson = find_result[lesson];
                    table.append('<tr><td><a class="search_lesson" href="#" lesson_id='+this_lesson["id"]+'>'+this_lesson["title"]+'</a></td><td>'+this_lesson["kind"]+'</td><td>'+this_lesson["author"]+'</td></tr>');
                }
                $('.search_lesson').draggable({revert:true});
                });
            return false;
        });

        $(document).on('click','#close_search', function(){
            $('.content').show();
            $('.search').hide();
            $('#search_text').val('');
            return false;
        });

        $(document).on('click','#back_to_search', function(){
            $('.search').show();
            $('.search_content').hide();
            return false;
        });

        function getCookie(name) {
           var cookieValue = null;
           if (document.cookie && document.cookie !== '') {
               var cookies = document.cookie.split(';');
               for (var i = 0; i < cookies.length; i++) {
                   var cookie = jQuery.trim(cookies[i]);
                   // Does this cookie string begin with the name we want?
                   if (cookie.substring(0, name.length + 1) === (name + '=')) {
                       cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                       break;
                   }
               }
           }
           return cookieValue;
        }

  </script>
</body>
</html>
