{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'ui/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'ui/css/bootstrap.vertical-tabs.css' %}">
	<link rel="stylesheet" href="{% static 'ui/css/jasny-bootstrap.min.css' %}">
	<style type="text/css">
		@media (max-width: 767px){
			.col-sm-3, .col-sm-9, .row .col-sm-9, .row .col-sm-3 {
			width: 100%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			}
		}
        .error_input {
            border-color: red;
        }
    #comments_div div{
      border: solid 1px black;
      margin: 5px;
      padding: 3px;
    }
    #comments_div div p:first-child {
      background-color: #eee;
    }
	</style>
{#<script data-main="static/js/config" src="{% static 'js/lib/require.js' %}"></script>#}

    <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,Safe">
</script>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
		  		<a class="navbar-brand btn" data-toggle="offcanvas" data-target="#coursesTree" data-canvas="body">
                    <span class="glyphicon glyphicon-menu-right" id="arrow_on_button"></span>
                    Courses
                </a>
			</div>
            <div class="container">
            <div>
                <form class="navbar-form navbar-left" >
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search" id="search_text">
                    </div>
                    <button type="submit" class="btn btn-default" id="search_button">Go</button>
                </form>
                <ul class="nav navbar-right">
                {% if user and user.is_authenticated %}
                    <li><a href="/ct/people/{{ user.pk }}/" target="{{ target }}">
                    {% if user.get_full_name %}
                        {{ user.get_full_name }}
                    {% else %}
                        {{ user.username }}
                    {% endif %}</a></li>
                {% else %}
                    <li><a href="/login/?next=/ui/hack/">Sign in</a></li>
                {% endif %}
                </ul>
            </div>
            </div>
        </div>
    </nav>
    <div id="coursesTree" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation" style="padding-top:5px; padding-left:5px; z-index:-1;">
	 <div class="row" >
        <div class="col-xs-12">
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="panel_for_tabs">
                <div class="btn-group btn-group-justified" role="group" aria-label="units">
				  <div class="btn-group" role="group" style="width:80%;">
				    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#unit1" aria-expanded="true" aria-controls="unit1">
						Unit name
					</button>
				  </div>
                </div>

                <div id="unit1" class="collapse in">
				  <div class="well">
            	<div class="btn-group btn-group-justified" role="group" aria-label="lessons">
				  <div class="btn-group" role="group" style="width:80%;">
				    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#lesson1" aria-expanded="true"   aria-controls="lesson1">
						Lessons
					</button>
				  </div>
				  <div class="btn-group" role="group" style="width:20%;">
				    <button type="button" class="btn btn-default" >
				    	<span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
				    </button>
				  </div>
				</div>


				<div class="btn-group btn-group-justified" role="group" aria-label="concepts">
				  <div class="btn-group" role="group" style="width:80%;">
				    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#concept1" aria-expanded="true" aria-controls="concept1">
						Concepts
					</button>
				  </div>
				  <div class="btn-group" role="group" style="width:20%;">
				    <button type="button" class="btn btn-default" >
				    	<span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
				    </button>
				  </div>
				</div>
             </div>
            </div>
          </div>
          </div>
        </div>
    </div>
  </div>
        <div  class="col-xs-1" style="margin-left: -53px; padding-right: 20px;">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs tabs-right sideways" id="courses_tabs">
          </ul>
        </div>
	    <div class="col-sm-7 col-xs-offset-1 content">
            <h1 id="title"></h1>
            <ul class="nav nav-tabs">
              <li role="presentation" class="active"><a data-toggle="tab" href="#lesson_description">Description</a></li>
              <li role="presentation" id="issues_tab"><a data-toggle="tab" href="#lesson_issues">Issues</a></li>
            </ul>
            <div class="tab-content">
                <div id="lesson_description" class="tab-pane fade in active">
                  <br>
                    <p id="description"></p>
                    <p><b>Author </b><span id="author"></span></p>
                </div>

                <div id="lesson_issues" class="tab-pane fade">
                    <br>
                    <div class="row" id="lesson_issues_table">
                    <div class="col-sm-5">
                    <div class="input-group">
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filters <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">Separated link</a></li>
                        </ul>
                      </div><!-- /btn-group -->
                        <input type="text" class="form-control">
                    </div><!-- /input-group -->
                    </div>
                    <div class="col-sm-5">
                      <div class="input-group">
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Labels <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">Separated link</a></li>
                        </ul>
                      </div><!-- /btn-group -->
                        <input type="text" class="form-control">
                    </div><!-- /input-group -->
                    </div>
                        <div class="col-sm-2">
                            <button class="btn btn-info" id="add_new_issue">Add new issue</button>
                        </div>


                    <hr>
                    <table class="table">
                        <thead>
                        <th id="open_link_th" class="success">
                            <a href="#" id="opened_issues"><span class="glyphicon glyphicon-exclamation-sign"></span> Open: <span id="open_span">0</span></a>
                        </th>
                        <th id="close_link_th">
                           <a href="#" id="closed_issues"><span class="glyphicon glyphicon-ok"></span> Closed: <span id="closed_span">0</span></a>
                        </th>
                        <th>
                    <div class="pull-right">
                  <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Author <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" id="dropdown_author">
                        <li role="separator" class="divider"></li>
                        <li><a href="#" filter="all" field="author">Show all</a></li>
                      </ul>
                    </div>
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Labels <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" id="dropdown_labels">

                        <li role="separator" class="divider"></li>
                        <li><a href="#">Show all</a></li>
                      </ul>
                    </div>
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Assignee <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" id="dropdown_assignee">
                        <li role="separator" class="divider"></li>
                        <li><a href="#" filter="all" field="assignee">Show all</a></li>
                      </ul>
                    </div>
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">

                      </ul>
                    </div>
                </div>
                        </th>
                        </thead>
                        </table>
                        <table class="table table-condensed">
                        <tbody id='table_of_issues'>
                        </tbody>
                        </table>
                        </div>
                    <div id="div_with_issue_form">
                        <form class="form-horizontal" id="add_issue_form">
                            {% csrf_token %}
                            <label>Title</label>
                            <input name="title" type="text" class="form-control inp">
                            <label>Description</label>
                            <textarea class="form-control inp" name="description" rows="3"></textarea>
                            <label>Labels</label>
                            <select name="labels" class="form-control">

                            </select>
                            <label>Assignee</label>
                            <select name="assignee" class="form-control">

                            </select>
                            <input type="hidden" name="author" value="{{ user.id }}">
                            <input type="hidden" name="unit_lesson">
                            <input type="hidden" name="is_open" value="true">
                            <hr>
                            <button class="btn btn-success" id="add_issue_button">Ok</button>
                            <button class="btn btn-warning" id="add_issue_cancel_button">Cancel</button>
                        </form>
                    </div>
                    <div id="show_issue_div">
                        <div id="show_issue_inside_div">
                        <button class="btn btn-info pull-right" id="edit_issue_button">Edit</button>
                        <label>Title</label>
                        <p id="show_issue_title"></p>
                        <label>Description</label>
                        <p id="show_issue_description"></p>
                        <label>Labels</label>
                        <p id="show_issue_label"></p>
                        <label>Author</label>
                        <p id="show_issue_author"></p>
                        <label>Assignee</label>
                        <p id="show_issue_assignee"></p>
                        <button class="btn btn-warning" id="show_issue_cancel_button">Go back</button>
                        <button class="btn pull-right" id="is_open_button">Close issue</button>
                        </div>
                      <div id="comments_div">

                      </div>
                      <div id="comments_form">
                         <form id="add_comment">
                           {% csrf_token %}
                           <textarea id='comments_text'class="form-control inp" name="text" rows="4"></textarea>
                            <button class="btn btn-success" id="add_comment_button">Add</button>
                         </form>
                      </div>
                        <form id="update_issue_form">
                           {% csrf_token %}
                            <label>Title</label>
                            <input name="title" type="text" class="form-control inp">
                            <label>Description</label>
                            <textarea class="form-control inp" name="description" rows="3"></textarea>
                            <label>Status</label>
                            <select name="labels" class="form-control">

                            </select>
                            <label>Assignee</label>
                            <select name="assignee" class="form-control">

                            </select>
                            <input type="hidden" name="author" value="{{ user.id }}">
                            <input type="hidden" name="unit_lesson">
                            <input type="hidden" name="is_open">
                            <input type="hidden" name="id">
                            <hr>
                            <button class="btn btn-success" id="update_issue_button">Update</button>
                            <button class="btn btn-warning" id="update_issue_cancel_button">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
	    </div>
        <div class="col-sm-7 col-xs-offset-1 search_content" style="display: none;">
            <button class="btn btn-info pull-right" id="back_to_search"><span class="glyphicon glyphicon-arrow-left"></span> Back to search results</button>
            <h1 id="title_search"></h1>
            <p id="description_search"></p>
            <p><b>Author </b><span id="author_search">The Teacher</span></p>
        </div>
        <div class="col-sm-7 col-xs-offset-1 search" style="display: none;">
            <button type="button" class="btn btn-default btn-lg pull-right" id="close_search">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
            <table class="table" >
                <thead>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Author</th>
                </thead>
                <tbody id="search_table">
                </tbody>
            </table>
	    </div>
{#  <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>#}
{#  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>#}
{#  <script src="{% static 'ui/js/bootstrap.min.js' %}"></script>#}
{#  <script src="{% static 'ui/js/jasny-bootstrap.min.js' %}"></script>#}
{#  <script type="text/javascript" src="{% static 'ui/js/jQueryRotate.js' %}"></script>#}
  <script>
      var active_lesson_id=0;
      var user_id={{ user.id }};
      var list_of_issues = [];
      var list_of_labels = [];
      var is_open_shown = true;
  </script>
  <script type="text/javascript" src="{% static 'js/main.min.js' %}"></script>
</body>
</html>
