{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'ui/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'ui/css/bootstrap.vertical-tabs.css' %}">
	<link rel="stylesheet" href="{% static 'ui/css/jasny-bootstrap.min.css' %}">
	<style type="text/css">
		@media (max-width: 767px){
			.col-sm-3, .col-sm-9, .row .col-sm-9, .row .col-sm-3 {
			width: 100%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			}
		}
        .error_input {
            border-color: red;
        }
	</style>

    <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,Safe">
</script>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
		  		<a class="navbar-brand btn" data-toggle="offcanvas" data-target="#coursesTree" data-canvas="body">
                    <span class="glyphicon glyphicon-menu-right" id="arrow_on_button"></span>
                    Courses
                </a>
			</div>
            <div class="container">
            <div>
                <form class="navbar-form navbar-left" >
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search" id="search_text">
                    </div>
                    <button type="submit" class="btn btn-default" id="search_button">Go</button>
                </form>
                <ul class="nav navbar-right">
                {% if user and user.is_authenticated %}
                    <li><a href="/ct/people/{{ user.pk }}/" target="{{ target }}">
                    {% if user.get_full_name %}
                        {{ user.get_full_name }}
                    {% else %}
                        {{ user.username }}
                    {% endif %}</a></li>
                {% else %}
                    <li><a href="/login/?next=/ui/hack/">Sign in</a></li>
                {% endif %}
                </ul>
            </div>
            </div>
        </div>
    </nav>
    <div id="coursesTree" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation" style="padding-top:5px; padding-left:5px; z-index:-1;">
	 <div class="row" >
        <div class="col-xs-12">
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="panel_for_tabs">
                <div class="btn-group btn-group-justified" role="group" aria-label="units">
				  <div class="btn-group" role="group" style="width:80%;">
				    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#unit1" aria-expanded="true" aria-controls="unit1">
						Unit name
					</button>
				  </div>
                </div>

                <div id="unit1" class="collapse in">
				  <div class="well">
            	<div class="btn-group btn-group-justified" role="group" aria-label="lessons">
				  <div class="btn-group" role="group" style="width:80%;">
				    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#lesson1" aria-expanded="true"   aria-controls="lesson1">
						Lessons
					</button>
				  </div>
				  <div class="btn-group" role="group" style="width:20%;">
				    <button type="button" class="btn btn-default" >
				    	<span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
				    </button>
				  </div>
				</div>


				<div class="btn-group btn-group-justified" role="group" aria-label="concepts">
				  <div class="btn-group" role="group" style="width:80%;">
				    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#concept1" aria-expanded="true" aria-controls="concept1">
						Concepts
					</button>
				  </div>
				  <div class="btn-group" role="group" style="width:20%;">
				    <button type="button" class="btn btn-default" >
				    	<span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
				    </button>
				  </div>
				</div>
             </div>
            </div>
          </div>
          </div>
        </div>
    </div>
  </div>
        <div  class="col-xs-1" style="margin-left: -53px; padding-right: 20px;">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs tabs-right sideways" id="courses_tabs">
          </ul>
        </div>
	    <div class="col-sm-7 col-xs-offset-1 content">
            <h1 id="title"></h1>
            <ul class="nav nav-tabs">
              <li role="presentation" class="active"><a data-toggle="tab" href="#lesson_description">Description</a></li>
              <li role="presentation" id="issues_tab"><a data-toggle="tab" href="#lesson_issues">Issues</a></li>
            </ul>
            <div class="tab-content">
                <div id="lesson_description" class="tab-pane fade in active">
                  <br>
                    <p id="description"></p>
                    <p><b>Author </b><span id="author"></span></p>
                </div>

                <div id="lesson_issues" class="tab-pane fade">
                    <br>
                    <div class="row" id="lesson_issues_table">
                    <div class="col-sm-5">
                    <div class="input-group">
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filters <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">Separated link</a></li>
                        </ul>
                      </div><!-- /btn-group -->
                        <input type="text" class="form-control">
                    </div><!-- /input-group -->
                    </div>
                    <div class="col-sm-5">
                      <div class="input-group">
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Labels <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">Separated link</a></li>
                        </ul>
                      </div><!-- /btn-group -->
                        <input type="text" class="form-control">
                    </div><!-- /input-group -->
                    </div>
                        <div class="col-sm-2">
                            <button class="btn btn-info" id="add_new_issue">Add new issue</button>
                        </div>


                    <hr>
                    <table class="table">
                        <thead>
                        <th>
                            <a href="#" id="opened_issues"><span class="glyphicon glyphicon-exclamation-sign"></span> Open: <span id="open_span">0</span></a>
                        </th>
                        <th>
                           <a href="#" id="closed_issues"><span class="glyphicon glyphicon-ok"></span> Closed: <span id="closed_span">0</span></a>
                        </th>
                        <th>
                    <div class="pull-right">
                  <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Author <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" id="dropdown_author">
                        <li role="separator" class="divider"></li>
                        <li><a href="#" filter="all" field="author">Show all</a></li>
                      </ul>
                    </div>
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Labels <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" id="dropdown_labels">

                        <li role="separator" class="divider"></li>
                        <li><a href="#">Show all</a></li>
                      </ul>
                    </div>
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Assignee <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" id="dropdown_assignee">
                        <li role="separator" class="divider"></li>
                        <li><a href="#" filter="all" field="assignee">Show all</a></li>
                      </ul>
                    </div>
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">

                      </ul>
                    </div>
                </div>
                        </th>
                        </thead>
                        </table>
                        <table class="table table-condensed">
                        <tbody id='table_of_issues'>
                        </tbody>
                        </table>
                        </div>
                    <div id="div_with_issue_form">
                        <form class="form-horizontal" id="add_issue_form">
                            {% csrf_token %}
                            <label>Title</label>
                            <input name="title" type="text" class="form-control inp">
                            <label>Description</label>
                            <textarea class="form-control inp" name="description" rows="3"></textarea>
                            <label>Status</label>
                            <select name="labels" class="form-control">

                            </select>
                            <label>Assignee</label>
                            <select name="assignee" class="form-control">

                            </select>
                            <input type="hidden" name="author" value="{{ user.id }}">
                            <input type="hidden" name="unit_lesson">
                            <hr>
                            <button class="btn btn-success" id="add_issue_button">Ok</button>
                            <button class="btn btn-warning" id="add_issue_cancel_button">Cancel</button>
                        </form>
                    </div>
                    <div id="show_issue_div">
                        <div id="show_issue_inside_div">
                        <button class="btn btn-info pull-right" id="edit_issue_button">Edit</button>
                        <label>Title</label>
                        <p id="show_issue_title"></p>
                        <label>Description</label>
                        <p id="show_issue_description"></p>
                        <label>Labels</label>
                        <p id="show_issue_label"></p>
                        <label>Author</label>
                        <p id="show_issue_author"></p>
                        <button class="btn btn-warning" id="show_issue_cancel_button">Go back</button>
                        <button class="btn pull-right" id="is_open_button">Close issue</button>
                        </div>
                        <form id="update_issue_form">
                           {% csrf_token %}
                            <label>Title</label>
                            <input name="title" type="text" class="form-control inp">
                            <label>Description</label>
                            <textarea class="form-control inp" name="description" rows="3"></textarea>
                            <label>Status</label>
                            <select name="labels" class="form-control">

                            </select>
                            <label>Assignee</label>
                            <select name="assignee" class="form-control">

                            </select>
                            <input type="hidden" name="author" value="{{ user.id }}">
                            <input type="hidden" name="unit_lesson">
                            <input type="hidden" name="is_open">
                            <input type="hidden" name="id">
                            <hr>
                            <button class="btn btn-success" id="update_issue_button">Update</button>
                            <button class="btn btn-warning" id="update_issue_cancel_button">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
	    </div>
        <div class="col-sm-7 col-xs-offset-1 search_content" style="display: none;">
            <button class="btn btn-info pull-right" id="back_to_search"><span class="glyphicon glyphicon-arrow-left"></span> Back to search results</button>
            <h1 id="title_search"></h1>
            <p id="description_search"></p>
            <p><b>Author </b><span id="author_search">The Teacher</span></p>
        </div>
        <div class="col-sm-7 col-xs-offset-1 search" style="display: none;">
            <button type="button" class="btn btn-default btn-lg pull-right" id="close_search">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
            <table class="table" >
                <thead>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Author</th>
                </thead>
                <tbody id="search_table">
                </tbody>
            </table>
	    </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="{% static 'ui/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'ui/js/jasny-bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'ui/js/jQueryRotate.js' %}"></script>
  <script>
      var active_lesson_id=0;
      var user_id={{ user.id }};
      var list_of_issues = [];
        function truncate(str, len){
          return (str.length > len) ? str.substr(0,len-3)+'&hellip;' : str;
        }

        function show_info(title, description, author){
            $('.nav-tabs a[href="#lesson_description"]').tab('show');
            $('#title').empty().text(title);
            $('#description').empty().append(description);
            $('#author').empty().text(author);
            MathJax.Hub.Queue(["Typeset",MathJax.Hub,".content"]);
        }

        function show_search_info(title, description, author){
            $('#title_search').empty().text(title);
            $('#description_search').empty().append(description);
            $('#author_search').empty().text(author);
            MathJax.Hub.Queue(["Typeset",MathJax.Hub,".search_content"]);
        }

        function get_content_for_unit(unit_id, course_id){
           var url = '/ui/api/units/'+unit_id+'/content/';
           $('#panel_for_tabs').append('<div id="unit'+unit_id+'" class="collapse in unit"><div class="well"></div></div>');
           var tab_for_unit = $('#unit'+unit_id+' .well');
           $.get(url).done(function(content) {
               var lessons = content['lessons'];
               var concepts = content['concepts'];
               tab_for_unit.append('<div class="btn-group btn-group-justified" role="group" aria-label="lessons"><div class="btn-group" role="group" style="width:80%;"><button type="button" class="btn btn-default" data-toggle="collapse" data-target="#lessons'+unit_id+'" aria-expanded="true" aria-controls="lesson1">Lessons</button></div><div class="btn-group" role="group" style="width:20%;"> <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp; </button> </div> </div>');
               tab_for_unit.append('<div id="lessons'+unit_id+'" class="collapse in"><div class="well"><ul></ul></div></div>');
               var lessons_tab = $('#lessons'+unit_id+' .well ul');
               for (lesson in lessons){
                   var x = $('<li><a class="lesson" lesson_id="'+lessons[lesson]['id']+'" href="#" lesson_order="'+lessons[lesson]['order']+'">"'+lessons[lesson]['lesson_title']+'</a></li>');
                   lessons_tab.append(x);
                   $('.lesson').draggable({revert:true, axis: "y",
{#                       start:function(){$(this).closest('li').css('height','0%');}#}
                   });
                   $(x).droppable({
                        drop: function (event, ui) {
                            $('#blank_div').remove();
                            var a = $(this).find('a');
                            var ul_id = ui.draggable.attr('lesson_id');
                            var order = a.attr('lesson_order');
                            var url = '/ui/api/units/'+unit_id+'/content/';
                            $.ajax({
                                url: url,
                                type: 'PUT',
                                data:{'ul_id':ul_id, 'order':order} ,
                                success:function(result){
                                    get_units_for_course(course_id);
                                }
                            });},
                        over: function() {
                            $(this).find('a').before('<div style="height:0px;width:100%;" id="blank_div"></span></div>');
                            $('#blank_div').animate({'height':'+=35px'}, 500);
                        },
                        out: function() {
                            $('#blank_div').remove();
                         }
                   });

               }
               tab_for_unit.append('<div class="btn-group btn-group-justified" role="group" aria-label="concepts"><div class="btn-group" role="group" style="width:80%;"><button type="button" class="btn btn-default" data-toggle="collapse" data-target="#concepts'+unit_id+'" aria-expanded="true" aria-controls="lesson1">Concepts</button></div><div class="btn-group" role="group" style="width:20%;"> <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp; </button> </div> </div>');
               tab_for_unit.append('<div id="concepts'+unit_id+'" class="collapse in"><div class="well"><ul></ul></div></div>');
               var conceptss_tab = $('#concepts'+unit_id+' .well ul');
               for (concept in concepts){
                   conceptss_tab.append('<li><a class="concept" concept_id="'+concepts[concept]['ul_id']+'" href="#">'+concepts[concept]['title']+'</a></li>');
               }
           });
        }

        function get_units_for_course(course_id){
            $('#issues_tab').addClass("disabled");
            $('#issues_tab a').attr('href','#');
            var url = '/ui/api/courses/'+course_id+'/units/';
            $.get(url).done(function(units) {
                this.course_tab = $('#panel_for_tabs');
                this.course_tab.empty();
                for (unit_num in units) {
                    var unit = units[unit_num];
                    var unit_tab_html = '<div class="btn-group btn-group-justified" role="group" aria-label="units"><div class="btn-group" role="group" style="width:80%;"> <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#unit'+unit['unit_id']+'" aria-expanded="true" aria-controls="unit1">'+truncate(unit['unit_title'], 28)+'</button> </div> </div>';
                    this.course_tab.append(unit_tab_html);
                    get_content_for_unit(unit['unit_id'], course_id);
                }
            });
        }

        $(document).ready(function(){
            $.ajaxSetup({
               crossDomain: false,
               beforeSend: function(xhr, settings) {
                   var csrfSafeMethod = function(method) {
                       return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                   };
                   var csrftoken = getCookie('csrftoken');
                   if (!csrfSafeMethod(settings.type)) {
                      xhr.setRequestHeader('X-CSRFToken', csrftoken);
                   }
               }
            });
            $('.search').hide();
            $('.search_content').hide();
            $('#add_issue_form').hide();
            var url = '/ui/api/courses/';
            $.get(url).done(function(courses) {
                this.courses_tabs = $('#courses_tabs');
                for (course_num in courses) {
                    var course = courses[course_num];
                    var course_tab_html = '<li><a href="#course_'+course['id']+'" data-toggle="tab" course-id="'+course['id']+'">'+course['title']+'</a></li>'
                    this.courses_tabs.append(course_tab_html);
                }
                $('a[href="#course_'+courses[0]['id']+'"]').trigger('click');
            });
        });
        $(document).on('shown.bs.offcanvas', '#coursesTree', function(){
            $('#arrow_on_button').rotate({
                  angle: 0,
                  animateTo:180,
                  duration:600
              });
        });
        $(document).on('hidden.bs.offcanvas', '#coursesTree', function(e){
            $('#arrow_on_button').rotate({
                  angle: 180,
                  animateTo:0,
                  duration:600
              });
        });

        $(document).on('click', 'a[data-toggle="tab"]', function (course) {
            var course_id = $(course.target).attr('course-id');
            if (course_id) {
                get_units_for_course(course_id);
                var url = '/ui/api/course/'+course_id;
                $.get(url, {'format': 'json'}).done(function (course) {
                    show_info(course['title'], course['description'], course['added_by']);
                });
            }
            return false;
        });

        $(document).on('click', '.lesson', function () {
            $('#issues_tab').removeClass("disabled");
            $('#issues_tab a').attr('href','#lesson_issues');
            var lesson_id = this.getAttribute('lesson_id');
            active_lesson_id = lesson_id;
            var url = '/ui/api/lesson/'+lesson_id+'/';
            $.get(url).done(function (lesson) {
                $('.content').show();
                $('.search').hide();
                show_info(lesson['title'], lesson['text'], lesson['added_by']);
            });
            $('.search_content').hide();
            $('.search').hide();
            $('#search_text').val('');
            return false;
        });

        $(document).on('click', '.search_lesson', function () {
            var unit_id = this.getAttribute('lesson_id');
            var url = '/ui/api/lesson/'+unit_id+'/';
            $.get(url).done(function (lesson) {
                $('.content').hide();
                $('.search').hide();
                $('.search_content').show();
                show_search_info(lesson['title'], lesson['text'], lesson['added_by']);
            });
            return false;
        });

        $(document).on('click', '.concept', function () {
            $('#issues_tab').removeClass("disabled");
            $('#issues_tab a').attr('href','#lesson_issues');
            var concept_id = this.getAttribute('concept_id');
            active_lesson_id = concept_id;
            var url = '/ui/api/concept/'+concept_id+'/';
            $.get(url).done(function (concept) {
                $('.content').show();
                $('.search').hide();
                $('.search_content').hide();
                $('#search_text').val('');
                show_info(concept['title'], concept['text'], concept['added_by']);
            });
            return false;
        });

        $(document).on('click','#search_text',function(){
           return false;
        });

        $(document).on('click', '#search_button', function () {
            var text_to_search = $('#search_text').val();
            var url = '/ui/api/search/';
            $.get(url, {'text':text_to_search}).done(function (find_result) {
                $('.content').hide();
                $(".search_content").hide();
                $('.search').show();
                $('#search_table').empty();
                var table = $('#search_table');
                for (lesson in find_result) {
                    var this_lesson = find_result[lesson];
                    table.append('<tr><td><a class="search_lesson" href="#" lesson_id='+this_lesson["id"]+'>'+this_lesson["title"]+'</a></td><td>'+this_lesson["kind"]+'</td><td>'+this_lesson["author"]+'</td></tr>');
                }
                $('.search_lesson').draggable({revert:true});
                });
            return false;
        });

        $(document).on('click','#close_search', function(){
            $('.content').show();
            $('.search').hide();
            $('#search_text').val('');
            return false;
        });

        $(document).on('click','#back_to_search', function(){
            $('.search').show();
            $('.search_content').hide();
            return false;
        });

        function getCookie(name) {
           var cookieValue = null;
           if (document.cookie && document.cookie !== '') {
               var cookies = document.cookie.split(';');
               for (var i = 0; i < cookies.length; i++) {
                   var cookie = jQuery.trim(cookies[i]);
                   // Does this cookie string begin with the name we want?
                   if (cookie.substring(0, name.length + 1) === (name + '=')) {
                       cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                       break;
                   }
               }
           }
           return cookieValue;
        }

      $(document).on('click','#add_issue_button',function(){
        $('.inp').removeClass('error_input');
        var url = '/ui/api/issues/';
        var data = $('#add_issue_form').serialize();
        $.post(url, data).done(function () {
            $('a[href="#lesson_issues"]').trigger('click');
            $('#add_issue_form').hide();
            $('#lesson_issues_table').show();
        }).fail(function(result) {
            for (each in result['responseJSON']){
                $('[name="'+each+'"]').addClass('error_input');
                $('[name="'+each+'"]').attr('placeholder', result['responseJSON'][each]);
            }
          })
          return false;
      });

      $(document).on('click','#add_issue_cancel_button',function(){
        $('#add_issue_form').hide();
        $('#lesson_issues_table').show();
          return false;
      });

      $(document).on('click','#show_issue_cancel_button',function(){
        $('#show_issue_div').hide();
        $('#lesson_issues_table').show();
          return false;
      });

      function add_filters(authors, assignee){
          $('#dropdown_author').empty();
          $('#dropdown_assignee').empty();
        for (x in authors){
            $('#dropdown_author').append('<li><a href="#" filter="'+authors[x]+'" field="author_name">'+authors[x]+'</a></li>');
        }
          $('#dropdown_author').append('<li role="separator" class="divider"></li><li><a href="#" filter="all" field="author_name">Show all</a></li>');
        for (x in assignee){
            $('#dropdown_assignee').append('<li><a href="#" filter="'+assignee[x]+'" field="assignee_name">'+assignee[x]+'</a></li>');
        }
          $('#dropdown_assignee').append('<li role="separator" class="divider"></li><li><a href="#" filter="all" field="author_name">Show all</a></li>');
      }

      function get_labels(){
          var labels_url='/ui/api/labels/';
          $('[name="labels"]').empty();
          var labels_list=[];
          $.get(labels_url).done(function(labels){
              for (each in labels){
                  var label = labels[each];
                  labels_list[label['id']]=label['title'];
                  $('[name="labels"]').append('<option value="'+label['id']+'">'+label['title']+'</option>')
              }
          });
          return labels_list;
      }

      function show_one_type_of_issues(is_open) {
          $('#table_of_issues').empty();
          var open_issues = 0;
          var close_issues = 0;
          var authors = [];
          var assignee = [];
          var labels_list = get_labels();
          $('#table_of_issues').append('<tr class="active"><td>Title</td><td>Author</td></tr>');
          for (each in list_of_issues) {
              var issue = list_of_issues[each];
              if (issue['is_open']) {
                  open_issues += 1;
              }
              else {
                  close_issues += 1;
              }
              if (issue['is_open'] == is_open) {
                  $('#table_of_issues').append('<tr><td><a href="#" issue_id="' + issue['id'] + '" class="issue">' + issue['title'] + '</a></td><td>' + issue['author_name'] + '</td></tr>'
                  )
                  if (authors.indexOf(issue['author_name']) == -1 && issue['author_name'] != null) {
                      authors.push(issue['author_name']);
                  }
                  if (assignee.indexOf(issue['assignee_name']) == -1 && issue['assignee_name'] != null) {
                      assignee.push(issue['assignee_name']);
                  }
              }
          }
          add_filters(authors, assignee);
          $('#closed_span').text(close_issues);
          $('#open_span').text(open_issues);
      };

      $(document).on('click','a[href="#lesson_issues"]',function(){
          $('#add_issue_form').hide();
            $('#lesson_issues_table').show();
            $('#show_issue_div').hide();

          if ($(this).closest('li').hasClass('disabled') == false){

          var url = '/ui/api/issues/';
          $.get(url, {'unit_lesson':active_lesson_id}).done(function (issues) {
            list_of_issues = issues;
            show_one_type_of_issues(true);
            });
           };
          return false;

      });

      function get_assignee(){
          var assignee_url='/ui/api/assignee/';
          $('[name="assignee"]').empty();
          $.get(assignee_url).done(function(assignees){
              for (each in assignees){
                  var assignee = assignees[each];
                  $('[name="assignee"]').append('<option value="'+assignee['id']+'">'+assignee['username']+'</option>')
              }
          })
      }



      $(document).on('click',".issue",function(){
          var url = '/ui/api/issues/'+this.getAttribute('issue_id');
          get_assignee();
          var labels_list = get_labels();
          $.get(url).done(function(issue) {
              var is_open = issue['is_open'];
              $("#show_issue_title").text(issue['title']);
              $("#show_issue_description").text(issue['description']);
              $("#show_issue_author").text(issue['author']);
              $("#show_issue_status").text(issue['status']);
              $("#show_issue_label").text(labels_list[issue['labels'][0]]);
              if (is_open == true ){
                  $("#is_open_button").text('Close issue').removeClass('btn-danger').addClass('btn-success');
                  $('[name="is_open"]').val(false);
              }
              else{
                  $("#is_open_button").text('Reopen issue').removeClass('btn-success').addClass('btn-danger');
                  $('[name="is_open"]').val(true);
              }
              $('[name="title"]').val(issue['title']);
              $('[name="description"]').val(issue['description']);
              $('[name="id"]').val(issue['id']);
              $('[name="labels"]').val(issue['labels'][0]);
              $('[name="unit_lesson"]').val(active_lesson_id);
          });
          $('#lesson_issues_table').hide();
          $('#show_issue_div').show();
          $('#show_issue_inside_div').show();
          $('#update_issue_form').hide();
          return false;
      });

      $(document).on('click','#add_new_issue',function(){
          $('.inp').val('');
          $('.inp').removeClass('error_input');
          $('.inp').attr('placeholder','');
          $('#add_issue_form').show();
          $('#lesson_issues_table').hide();
          $('#show_issue_div').hide();
          $('[name="unit_lesson"]').val(active_lesson_id);
          return false;
      });

      $(document).on('click', '#edit_issue_button', function(){
          $('#show_issue_inside_div').hide();
          $('#update_issue_form').show();
          return false;
      })

      $(document).on('click', '#update_issue_cancel_button', function(){
          $('#show_issue_inside_div').show();
          $('#update_issue_form').hide();
          return false;
      })

      $(document).on('click', '#update_issue_button', function(){
        var issue_id = $('[name="id"]').val();
        var url = '/ui/api/issues/'+issue_id
          $('.inp').removeClass('error_input');
          $('.inp').attr('placeholder','');
          $('[name="unit_lesson"]').val(active_lesson_id);
        $.ajax({
            url: url,
            type: 'PUT',
            data:$('#update_issue_form').serialize() ,
            success:function(result){
                $('[issue_id="'+issue_id+'"]').trigger('click');
            },
            error:function(result) {
            for (each in result['responseJSON']){
                $('[name="'+each+'"]').addClass('error_input');
                $('[name="'+each+'"]').attr('placeholder', result['responseJSON'][each]);
            }}
        });
        return false;
      })

      $(document).on('click', '.dropdown-menu li a', function () {
          var filter = $(this).attr('filter');
          var field = $(this).attr('field');
          $('#table_of_issues').empty();
          $('#table_of_issues').append('<tr class="active"><td>Title</td><td>Status</td><td>Author</td></tr>');
        for (each in list_of_issues){
          var issue = list_of_issues[each];
            if (issue[field] == filter || filter=='all'){
            $('#table_of_issues').append('<tr><td><a href="#" issue_id="'+issue['id']+'" class="issue">'+issue['title']+'</a></td><td>'+issue['status']+'</td><td>'+issue['author_name']+'</td></tr>'
            )}
        }
      });

      $(document).on('click','#is_open_button',function(){
          $('#update_issue_button').trigger('click');

         return false;
      });

      $(document).on('click','#opened_issues',function(){
         show_one_type_of_issues(true);
      });
      $(document).on('click','#closed_issues',function(){
         show_one_type_of_issues(false);
      });
  </script>
</body>
</html>
