{% load social_tags %}

<div id="enroll-login-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <h3 id="js--title">Create an account to continue</h3>
        <div class="buttons">
          <div class="row">
            {% for sublist in available_backends|social_backends %}
              {% for name, backend in sublist %}
                {% associated backend %}
                {% if not association %}
                  <a class="btn btn-default js-enroll-modal" name="{{ backend|backend_class }}" href="{% url "social:begin" backend=name %}?next=">
                    <i class="fa fa-{{ name|icon_name }}"></i>
                    {{ backend|backend_name }}
                  </a>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        </div>
        <form name="LoginForm" id="js--login-register-form" action="/register/" method="post" role="form">{% csrf_token %}
          <input type="hidden" name="next" value="" />
          <div class="control-group">
              <label class="control-label" for="username" id="js--login-username-label">Email</label>
              <div class="controls">
                  <input type="text" id="username" name="username" placeholder="Email" data-validation="required" data-validation-error-msg="Please enter your email">
              </div>
          </div>
          <div class="control-group">
              <label class="control-label" for="password">Password</label>
              <div class="controls">
                  <input type="password" name="password" id="password" placeholder="Password" data-validation="required" data-validation-error-msg="Please enter your password">
              </div>
          </div>
        </div>
        <div class="alert alert-danger" role="alert" id="js--user-exists">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
        </div>
        <div class="modal-footer">
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn" id="js--login-register-btn">Create account</button>
            </div>
          </div>
            <a id="js--forgot" class="pull-left"  href="#">Forgot passwod</a>
          <i id="js--link-pretext">Already have an account? </i><a id="js--link" href="#">Sign in</a>
        </div>
      </div>
    </div>
    </form>
</div>
