{% extends "ct/portal.html" %}
{% load url from future %}

{% block content %}
  {% if reset_token %}
<form action="{% url 'reset-password' reset_token %}" method="post">
  {% csrf_token %}
  <h4 style="color:#FF4500;">{{ msg }}</h4>
  <label for="email">New Password:</label>
  <p>
    <input id="password1" type="password" name="password1" value="" />
  </p>
  <p>
    <input id="password" type="password" name="password" value="" />
  </p>
  <button>Reset</button>
</form>
  {% elif msg %}
    <h4>{{ msg }}</h4>
  {% else %}
    <h4>Your password was changed</h4>
    <script type="application/javascript">
      setInterval(function(){window.location = '{{ next_url }}';}, 2000);
    </script>
  {% endif %}
{% endblock %}