{# Add issue form template #}

<form class="form-horizontal" id="add_issue_form">
    <label>Title</label>
    <input name="title" type="text" class="form-control inp">
    <label>Description</label>
    <textarea class="form-control inp" name="description" rows="3"></textarea>
    <label>Labels</label>
    <select name="labels" class="form-control">

    </select>
    <label>Assignee</label>
    <select name="assignee" class="form-control">

    </select>
    <input type="hidden" name="author" value="<%= user %>">
    <input type="hidden" name="unit_lesson">
    <input type="hidden" name="is_open" value="true">
    <hr>
    <button class="btn btn-success" id="add_issue_button">Ok</button>
    <button class="btn btn-warning" id="add_issue_cancel_button">Cancel</button>
</form>
